.grid-computers {
  display: grid;
  /* 5 columnas: 2 compus | 1 pasillo de 40px | 2 compus */
  grid-template-columns: repeat(2, 0fr) 40px repeat(2,0fr);
  gap: 12px;
}

/*De cada 4 elementos(4n), el 3er elemento (+3) de cada fila salta a la columna 4 (grid-column-start:4) (deja libre la 3) */
.grid-computers > *:nth-child(4n + 3) {
  grid-column-start: 4;
}



